@font-face {
  font-family: "museosans";
  src: url("../fonts/museosans.otf");
}
@font-face {
  font-family: "consolas";
  src: url("../fonts/consolas.ttf");
}
:root {
  /* Colors taken from Material Design color palette:
   * https://material.io/design/color/the-color-system.html
   */
  --clr-text: #212121;
  --clr-background-body: #fcfcfc;
  --clr-interaction: #0277bd;
  --clr-interaction-highlight: white;
  --clr-background-input: white;
  --clr-oscilloscope-background: #eceff1;
  --clr-oscilloscope-grid: #90a4ae;
  --clr-oscilloscope-wave-green: #64dd17;
  --clr-oscilloscope-wave-red: #d50000;
  --clr-oscilloscope-wave-blue: #0091ea;
  --clr-oscilloscope-wave-yellow: #ffd600;
  --clr-oscilloscope-text: #263238;
  --font-main: "museosans";
  --font-oscilloscope: "museosans";
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

body.dark {
  --clr-text: #e0e0e0;
  --clr-background-body: #1a1918;
  --clr-interaction: #01579b;
  --clr-interaction-highlight: white;
  --clr-background-input: #263238;
  --clr-oscilloscope-background: #37474f;
  --clr-oscilloscope-grid: #607d8b;
  --clr-oscilloscope-wave-green: #76ff03;
  --clr-oscilloscope-wave-red: #ff1744;
  --clr-oscilloscope-wave-blue: #00b0ff;
  --clr-oscilloscope-wave-yellow: #ffea00;
  --clr-oscilloscope-text: #ffffff;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background-body);
  font-family: var(--font-main);
  color: var(--clr-text);
}

* {
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#content {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
}

#canvas,
#canvas-placeholder {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

#canvas {
  border: 1px solid var(--clr-text);
  border-radius: 16px;
  box-sizing: border-box;
}

#canvas-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--clr-text);
  border-radius: 16px;
  box-sizing: border-box;
}
#controls > div {
  display: flex;
  justify-content: space-between;
  height: 32px;
}
#controls > div > div.label {
  font-size: 12px;
  line-height: 32px;
}
#controls > div > .input-row {
  display: flex;
  gap: 8px;
}
#controls > div > .input-row > button {
  width: 64px;
  height: 24px;
  margin: 4px 0px;
}
#controls > div > .input-row > input {
  width: 64px;
  margin: 4px 0px;
  box-shadow: var(--box-shadow);
}
#controls > div > .input-row > x-knob {
  margin: 0px 16px;
}

input[type=text] {
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  outline: none;
  border: 0;
  font-family: var(--font-main);
  box-shadow: var(--box-shadow);
  background-color: var(--clr-background-input);
  color: var(--clr-text);
  border-radius: 4px;
}

input[type=color] {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 0px;
  cursor: pointer;
}

x-knob {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: var(--clr-interaction);
  box-shadow: var(--box-shadow);
  cursor: ns-resize;
  position: relative;
  transform: rotate(45deg);
  outline: solid 1px transparent;
  outline-offset: 2px;
  transition: outline-color 0.2s ease-out;
}
x-knob::after {
  content: "";
  display: block;
  width: 2px;
  height: 12px;
  background-color: var(--clr-interaction-highlight);
  position: absolute;
  left: 14px;
  top: 0px;
}
x-knob.dragging {
  outline-color: var(--clr-text);
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  border-radius: 4px;
  font-size: 12px;
  font-family: var(--font-main);
  background: var(--clr-interaction);
  color: var(--clr-interaction-highlight);
  box-shadow: var(--box-shadow);
  outline: solid 1px transparent;
  outline-offset: 2px;
  transition: outline-color 0.2s ease-out;
}
button.selected {
  outline-color: var(--clr-text);
}

span.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  vertical-align: middle;
  margin-right: 8px;
  outline: solid 1px transparent;
  outline-offset: 2px;
  transition: outline-color 0.2s ease-out;
  outline-color: var(--clr-text);
}
span.dot.green {
  background-color: var(--clr-oscilloscope-wave-green);
}
span.dot.red {
  background-color: var(--clr-oscilloscope-wave-red);
}
span.dot.blue {
  background-color: var(--clr-oscilloscope-wave-blue);
}
span.dot.yellow {
  background-color: var(--clr-oscilloscope-wave-yellow);
}

/*# sourceMappingURL=style.css.map */
