// @font-face {
//     font-family: "Open Sans";
//     font-weight: normal;
//     font-style: normal;
//     src: url("../fonts/OpenSans-Regular.ttf");
// }

// @font-face {
//     font-family: "Open Sans";
//     font-weight: bold;
//     font-style: normal;
//     src: url("../fonts/OpenSans-Bold.ttf");
// }

// @font-face {
//     font-family: "Open Sans";
//     font-weight: normal;
//     font-style: italic;
//     src: url("../fonts/OpenSans-Italic.ttf");
// }

// @font-face {
//     font-family: "Open Sans";
//     font-weight: bold;
//     font-style: italic;
//     src: url("../fonts/OpenSans-BoldItalic.ttf");
// }

@font-face {
    font-family: "museosans";
    src: url("../fonts/museosans.otf");
}

@font-face {
    font-family: "consolas";
    src: url("../fonts/consolas.ttf");
}
